In [112]:
import time
import numpy as np
from scipy import spatial as spatial
import pandas as pd
import random

In [113]:
# Create some dummy data
random.seed(1)
y_array = np.random.random(10000).reshape(100,100)
x_array = np.random.random(10000).reshape(100,100)
points = np.random.random(10000).reshape(2,5000)

In [119]:
combined_x_y_arrays = numpy.dstack([y_array.ravel(),x_array.ravel()])[0]
points_list = list(points.transpose())
def do_kdtree(combined_x_y_arrays,points):
    mytree = spatial.cKDTree(combined_x_y_arrays)
    dist, indexes = mytree.query(points)
    return dist, indexes

In [114]:
storage=np.array([])
average_distance_storage=np.array([])
start = time.time()

#for i in range(len(points_list)):
for i in range(200):
    combined_x_y_arrays = np.dstack([y_array.ravel(),x_array.ravel()])[0]
    points_list = list(points.transpose())
    for k in range(10):
        #do_kd_tree
        kd_result = do_kdtree(combined_x_y_arrays,points_list)
        df=pd.DataFrame(kd_result, index=["dist", "indexes"]).transpose()
        #store the nearest point
        storage=np.append(storage, df["dist"][i])
        #remove the nearest point
        combined_x_y_arrays=np.delete(combined_x_y_arrays, int(df["indexes"][i]),0)
        
    average_distance=np.array(sum(storage)/(k+2))
    average_distance_storage=np.append(average_distance_storage,average_distance)
end = time.time()
print('Completed in: ',end-start)

Completed in:  969.198399066925

In [115]:
grid_value=pd.DataFrame(data=average_distance_storage.reshape(1,-1), index=["average_dist"])
new_points=points.transpose()[:200].transpose()
cords=pd.DataFrame(data=new_points,index=["x","y"])
grid_value_and_cords=grid_value.append(cords)
grid_value_and_cords=grid_value_and_cords.transpose()

In [116]:
grid_value_and_cords

     average_dist         x         y
0        0.010263  0.275938  0.221964
1        0.024067  0.032324  0.824391
2        0.038965  0.349703  0.063209
3        0.050169  0.700853  0.291995
4        0.059749  0.424402  0.396549
..            ...       ...       ...
195      2.226649  0.914224  0.263488
196      2.238378  0.357164  0.354731
197      2.250135  0.774981  0.645538
198      2.259133  0.985632  0.555424
199      2.270404  0.556679  0.435969

[200 rows x 3 columns]

In [147]:
x=do_kdtree([[1,0],[2,0],[3,0],[4,0],[5,0]],[[0,0],[1,0],[2,0]])

In [148]:
df=pd.DataFrame(x, index=["dist", "indexes"]).transpose()
#store the nearest point
#storage=np.append(storage, df["dist"][0])
#        #remove the nearest point
#        combined_x_y_arrays=np.delete(combined_x_y_arrays, int(df["indexes"][i]),0)

In [149]:
#np.set_printoptions(threshold=np.inf)
#storage
df

   dist  indexes
0   1.0      0.0
1   0.0      0.0
2   0.0      1.0